{% extends 'base.html' %}

{% block title %}Products{% endblock title %}

{% block main %}
    <div class="container">
        <div class="row" style="text-align: center">
            {% for product in products %}
                <div class="span3" >
                    <h2 style="color:orangered">
                        <a href="{% url 'product' product.prod_id %}">{{ product.name }}</a>
                    </h2>
                    <img src="https://picsum.photos/seed/{{ product.prod_id }}/150" alt="">
                    <p>Price: {{ product.price }} €</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}